%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no'}

.item
  %a.btn.btn-lg{href:"/main/all_on_spotify"} All On Spotify
.item
  %a.btn.btn-lg Most On Spotify

.item
  %a.btn.btn-lg{href:"/main/all_on_itunes"} All On iTunes
.item
  %a.btn.btn-lg Most On iTunes
